<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                    <div class="error">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">SIGN_UP</button>
        <br>
        <a href="{% url 'login'%}">LOGIN</a>
    </form>
</body>
</html>

