<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {{ form.as_p }}
        <button type="submit">LOGIN</button>
        <!-- <a href="{% url 'signup' %}">SIGN_UP</a> -->
    </form>
</body>
</html>
